In [1]:
#Q1 write a code to reverse a string.
s="Bhagat Singh"
s[::-1]

'hgniS tagahB'

In [2]:
#Q2. Write a code to count the number of vowels in a string.
s="Bhagat Singh"
v="aieou"
k=0
for i in v:
    if i  in s:
        j=s.count(i)
        print(i ,":" ,j)

a : 2
i : 1

In [ ]:
#Q3. Write a code to check if a given strings is a palindromic or not
s="madam"
n=len(s)
for i in range(0,n//2):
    if(s[i]==s[n-i-1]):
        print("String is Palindromic")
        break
    else:
        print("given string is not palindromic")
        break

String is Palindromic

In [ ]:
#Q4 Write a code  to check if two given strings are anagrams of each other.
s="ram"
s1="mar"
if(sorted(s)==sorted(s1)):
    print("String is anagrams !")
else:
    print("String is not anagrams !")

String is anagrams !

In [ ]:
#Q5. Write a code to find all occurrence  of a given substring within another string
s="helloforell"
s1="ell"
f=False
for i in range(len(s)):
    if(s[i:i+len(s1)]==s1):
        print(i, end =" ")
        f=True
if(f==False):
    print("None")

1 8

In [ ]:
#Q6 Write a code to perform basic string compression using the counts of repeated characters.
s="abbacc"
s1={}
for i in s:
    if i in s1:
        s1[i]+=1
    else:
        s1[i]=1
print(s1)

{'a': 2, 'b': 2, 'c': 2}

In [ ]:
# Q7. Write a code to determine if a string has all uique characters.
s=input("enter the string")
s1=set(s)
if len(s)==len(s1):
    print(True)
else:
    print(False)

enter the string 345

True

In [ ]:
s="abcd"
s1=""
for i in s:
    if i not in s1:
        s1+=i
if s1==s:
    print(True)
else:
    print(False)

True

In [3]:
#Q8.Write a code to convert a given string to uppercase or lowercase.
string="I LovE mY CounTry"
print("to convert a given string to uppercase :" ,string.upper())
print("to convert a given string to lowercase : " ,string.lower())

to convert a given string to uppercase : I LOVE MY COUNTRY
to convert a given string to lowercase :  i love my country

In [ ]:
#Q9. Write a code to count the number of words in a string.
s="How are you"
count=0
word=False
for char in s:
    if char!=' ':
        if  not  word:
            count+=1
            word=True
    else:
        word=False
print(count)

3

In [ ]:
s="count the number"
print(len(s.split()))

3

In [4]:
#Q10.Write a code to concatenate two string without using + operator
s1="hello"
s2="World"
print(f"{s1}{s2}")

helloWorld

In [ ]:
#Q11 Write a code to remove all occurrences  of a specific element from a list.
list1=[2,3,4,3,2,3,4,3,1,2,3,4,3]
l=[]
element=int(input("enter the specific number:"))
for i in list1:
    if i!= element:
        l.append(i)
print("after removing the specific element from list:",l)

enter the specific number: 5

after removing the specific element from list: [2, 3, 4, 3, 2, 3, 4, 3, 1, 2, 3, 4, 3]

In [ ]:
#Q12. Implement a code to find the second largest number in a given in the given list of integer.
list1=[23,45,67,98,76,54,24]
largest=0
second_largest=0
for i in list1:
    if i>largest:
        second_largest=largest
        largest=i
    elif largest>i>second_largest:
        second_largest=i
print(second_largest)

76

In [ ]:
#Q13. Create a code to count the occurence of each element in a list and return a dictionary with element as keys
#and their count as values.
list1=[2,3,4,5,6,2,4,3,5,4,3,2,1,2,3,2,1,1,2]
dict1={}
for i in list1:
    if i in dict1:
        dict1[i]+=1
    else:
        dict1[i]=1
print(dict1)

{2: 6, 3: 4, 4: 3, 5: 2, 6: 1, 1: 3}

In [ ]:
#Q14. Write a code to reverse a list in-place without using any built in reverse functions.
list1=[1,2,3,4,5,6]
print(list1[::-1])

[6, 5, 4, 3, 2, 1]

In [ ]:
#Q15.Implement a code to find and remove duplicates from a list while perserving the original order of element.
l=[2,3,4,5,4,3,5]
l1=[]
l2=[]
for i in l:
    if i not in l1:
        l1.append(i)
    else:
        l2.append(i)
print("find the duplicates element from  list : " ,l2)
print("after remove the duplicates element from list while perserving the original order of element : ",l1)

find the duplicates element from  list :  [4, 3, 5]
after remove the duplicates element from list while perserving the original order of element :  [2, 3, 4, 5]

In [ ]:
#Q16. Create a code to check if a given list is sorted (either in ascending or descending order) or not
l=[2,3,4,5,6,8]
l1=sorted(l)
if l==l1:
    print(True)
else:
    print(False)

True

In [ ]:
l=[3,6,7]
f=False
for i in range(len(l)-1):
     if i<i+1:
        f=True
        break
print(f)

True

In [ ]:
#Q17.Write a code to merge two sorted lists into a single sorted list.
list1=[2,5,0,3,1]
list2=[4,7,8,6,9]
list3=sorted(list1)+sorted(list2)
print("first  sorted list are :",sorted(list1))
print("second sorted list are : ", sorted(list2))
print("to merger two sorted lists into a single sorted list :" ,sorted(list3))

first  sorted list are : [0, 1, 2, 3, 5]
second sorted list are :  [4, 6, 7, 8, 9]
to merger two sorted lists into a single sorted list : [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#Q18. Implement a code to find the intersection of two given lists.
list1=[2,3,4,5,6]
list2=[1,2,6,7,8]
set1=set(list1)
set2=set(list2)
print("first list",list1)
print("second list",list2)
print("intersection of two given lists: ",list(set1&set2))

first list [2, 3, 4, 5, 6]
second list [1, 2, 6, 7, 8]
intersection of two given lists:  [2, 6]

In [ ]:
#Q19. Create a code to find the union of two list without duplicates.
list1=[1,2,3,4,4,6]
list2=[1,2,4,5,7]
for i in list1:
    if i not  in list2:
        list2.append(i)
print("union of two list:",list2)

union of two list: [1, 2, 4, 5, 7, 3, 6]

In [ ]:
#Q20. Write a code to shuffle a give list randomly without using any built-in shuffle fuctions.
import random
def shuffle_list(input_list):
    shuffled_list = input_list[:]
    n = len(shuffled_list)
    for i in range(n):
        j= random.randint(0,n-1)
        shuffled_list[i],shuffled_list[j]=shuffled_list[j],shuffled_list[i]
        return shuffled_list
my_list=[1,2,3,4,5,6,7,8]
shuffled=shuffle_list(my_list)
print(shuffled)

random number in list :  5

In [ ]:
#Q21. Write a code that takes two tuples as input and returns a new tuple containing elements
#that are common to both  input tuple.
tuple1=(2,3,4,5,6)
tuple2=(3,4,2,6,7)
set1=set(tuple1)
set2=set(tuple2)
tuple3=tuple(set1&set2)
print("first tuple:",tuple1)
print("second tuple:",tuple2)
print("tuple containing elements that are common to both input tuple;",tuple3)

first tuple: (2, 3, 4, 5, 6)
second tuple: (3, 4, 2, 6, 7)
tuple containing elements that are common to both input tuple; (2, 3, 4, 6)

In [ ]:
# Q22. Create a code that prompt the user to enter two sets of integers seperated by commas Then,print the
#intersection of these two sets.
set1=set(map(int, input("enter the integer of set1 :").split(',')))
set2=set(map(int, input("enter the integer of set2:").split(',')))
print("set1 :",set1)
print("set2 :",set2)
print("intersection of two set :",set1&set2)

enter the integer of set1 : 3,4,5
enter the integer of set2: 4,5,6

set1 : {3, 4, 5}
set2 : {4, 5, 6}
intersection of two set : {4, 5}

In [ ]:
#Q23 Write a code to concatenate two tuples .The fuction should take two tuples as input
#and retrun a new tuple containing elements
tuple1=("a","b","c","d")
tuple2=(1,2,3,4)
print("tuple first :",tuple1)
print("tuple second:",tuple2)
print("concatenate ttwo tuples : ",tuple1+tuple2)

tuple first : ('a', 'b', 'c', 'd')
tuple second: (1, 2, 3, 4)
concatenate ttwo tuples :  ('a', 'b', 'c', 'd', 1, 2, 3, 4)

In [ ]:
#Q24 Develop a code that prompts the user to input two sets of strings .Then, print the elements that are present
#in the first set but not in the second set.
set_first=set(map(str, input("enter the string in first set:").split(',')))
set_second=set(map(str,input("enter the string in second set:").split(',')))
print("First set:",set_first)
print("second set:",set_second)
print("whose element are present in the first set but not in second set :",set_first-set_second)

enter the string in first set: "ram","ramv"
enter the string in second set: "ram","nomn"

First set: {'"ram"', '"ramv"'}
second set: {'"ram"', '"nomn"'}
whose element are present in the first set but not in second set : {'"ramv"'}

In [ ]:
#Q25 Create a code that takes a tuple and two integers as input .The function should returan a new tuple containing elements
#from the original tuple within the specified range of indicies.
tuple1=(1,2,3,3,2,1,2,3,4,5,4,1,2,3,2,5,6,7,6,5,8,9)
index1=2
index2=5
list1=[]
for i in range(index1,index2):
    list1.append(f" index {i} : {tuple1[i]}")
new_tuple=tuple(list1)
print("original tuple within the specified range of indicies :",new_tuple)

original tuple within the specified range of indicies : (' index 2 : 3', ' index 3 : 3', ' index 4 : 2')

In [ ]:
#Q26 Write  code that prompts the user to input two sets of chracters .Then,print the union of these two  sets.
set1=set(input("enter the character:"))
set2=set(input("enter the character :"))
print("unoin of two sets :",set1|set2)

enter the character: wer
enter the character : ert

unoin of two sets : {'r', 'e', 't', 'w'}

In [ ]:
#Q27. Develop a code that takes a tuple of integers as input.The function should return the maximum and minimum values
#from the tuple using tuple unpacking.
def maxminnum(tuple2):
    print("maximum number :",max(tuple2),"\nminimum number :",min(tuple2))
tuple1=(33,22,11,66,78,54)
tuple2=tuple1
maxminnum(tuple2)

maximum number : 78
minimum number : 11

In [ ]:
#Q28.Create a code that defines two sets of integers.Then, print the union,intersection and differences of these two sets.
set1={2,3,4,5,34,22,11,45,67}
set2={3,4,5,8,9,67,89,43,47}
print("set1 : ",set1)
print("set2 : ",set2)
print("union of two sets : ",set1|set2)
print("intersections of two sets : ",set1&set2)
print("differences  of these two sets : " ,set1-set2)

set1 :  {34, 3, 2, 4, 5, 67, 11, 45, 22}
set2 :  {67, 3, 4, 5, 8, 9, 43, 47, 89}
union of two sets :  {34, 3, 2, 4, 5, 67, 8, 9, 11, 43, 45, 47, 22, 89}
intersections of two sets :  {3, 67, 4, 5}
differences  of these two sets :  {34, 2, 11, 45, 22}

In [ ]:
#Q29. Write a code that takes a tuple and an element as input .The function should return the count
#of occurrences of the given element in tuple.
tuple1=(3,4,5,6,7,3,4,5,4,3,7,6,4,3,2,3,4)
print("occurrences of given element :",tuple1.count(3))

occurrences of given element : 5

In [ ]:
#Q30. Develop a code that prompts the user to input two sets of strings.Then, print the symmetric differencesof these
#two sets.
set1=set(map(str,input("enter the string of set first:").split(',')))
set2=set(map(str,input("enter the string of set second:").split(',')))
print("first set ",set1)
print("second set ",set2)
print("symmetric differences of these two sets : ", set1^set2)

enter the string of set first: 234
enter the string of set second: 345

first set  {'234'}
second set  {'345'}
symmetric differences of these two sets :  {'234', '345'}

In [ ]:
#Q31 Write a code that takes a list of words as input and returns a dicionary where the keys are unique words and the
#values are the frequecies of those words in the input list.
list1=[2,3,4,5,6,7,8,7,6,5,4,3,2]
dict1={}
for i in list1:
    if i in dict1:
        dict1[i]+=1
    else:
        dict1[i]=1
print(dict1)

{2: 2, 3: 2, 4: 2, 5: 2, 6: 2, 7: 2, 8: 1}

In [ ]:
#Q32. Write a code that takes two dictionaries as input and merges them into a single dictionary .If there are coomon keys,
# the values should be added together.
dict1={"a":5,"b":3,"c":3}
dict2={"c":7,"d":4,"b":4}
merge_dict=dict1.copy()
for key,value in dict1.items():
    if key in dict2:
        merge_dict[key]+=value
    else:
       merge_dict[key]=value
print("merges them into a single dictionary :",merge_dict)

merges them into a single dictionary : {'a': 5, 'b': 6, 'c': 6}

In [ ]:
#Q33. Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of keys
#as input and return the corresponding value.If any of the keys do not exit in the dictionary,the function should
#return None
people={1:{"name" : "Vaishnavi","age":21, "class":12}}
print("information :",people[1]['name'],"\n",people[1]['age'],"\n",people[1]['class'])

information : Vaishnavi
 21
 12

In [ ]:
#Q34. Write a code that takes a dictionary as input and returns a sorte version of it based on the values .You con choose whether to sort in ascending
#or descending order.
dict1={"a":2,"e":3,"c":4,"d":4}
sorted(dict1.values())

[2, 4, 4]

In [ ]:
#Q35. Write a code that inverts a dictionary ,swapping keys and values. Ensure that the inverted dictionary correctly handles cases
#where multiple keys have
original_dict={"a":34,"c":4,"d":5}
inverted_dict={}
for key,value in original_dict.items():
    if value in inverted_dict:
        inverted_dict[value].append(key)
    else:
        inverted_dict[value]=[key]
print(inverted_dict)

{34: ['a'], 4: ['c'], 5: ['d']}